h1= title 
p This become to #{title} in windows azure

script(src='/socket.io/socket.io.js')
script(src='/nowjs/now.js')
script(src='http://code.jquery.com/jquery-1.7.2.min.js')
script

	$(document).ready(function() {
		//s.emit('ready', true);

		now.sendReady('Hola desde home');
		now.receiveMessage = function(name, message){
			$('#container').append('<p>'+message+'</p>');          
		}
	});

#container
	p test with div's