h1= title
p Welcome to #{title} in windows azure

script(src='/socket.io/socket.io.js')
script(src='http://code.jquery.com/jquery-1.7.2.min.js')
script
	
	var s = io.connect();

	s.on('helo', function (msg) {
		$('#container').append('<p>'+msg+'</p>')
	});

	$(document).ready(function() {
		s.emit('ready', true);
	});

#container
	p test with div's

     

